<!DOCTYPE html>
<html>
	<head>
		<title>Hactivist List</title>
	</head>
	<h1>Hactivist List</h1>
	<body>
		<ol>
			<li> <%= @user %> </li>
		</ol>
		<form action="/signup" method="post">
			<input name="fullname"/>
			<input name="username"/> 
			
		</form>
		
	</body>
</html>