<h1>Welcome to Ebay</h1>

<h2><%= @user.name %>'s Store</h2>

<ul>
	<% @user_products.each do |product| %>
	<li>
		<%= link_to product.title, user_product_path(product.user_id, product.id) %>
		<p>Auction ends at <%= product.deadline %></p>
	</li>
	<% end %>
</ul>